<!-- Page Heading -->

<!-- /.row -->
<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">Item List <small>({{itemCtrl.itemList.length}})</small></h1>

        <div uib-alert ng-repeat="alert in itemCtrl.alerts" type="{{alert.type}}" close ="itemCtrl.closeAlert($index)">
            {{alert.msg}}
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="form-group">
                    <div class="col-md-2 pull-right">
                        <select ng-model="itemCtrl.itemsPerPage" class="form-control"
                                ng-options="page.value as page.num for page in itemCtrl.perPageValues">
                        </select>
                    </div>
                    <label class="pull-right" style="padding: 5px;">Items per page</label>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped">
                    <thead>
                        <tr>
                            <th>S.N</th>
                            <th>Item Name</th>
                            <th>Purchase Price</th>
                            <th>Sale Price</th>
                            <th>Added On</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in itemCtrl.itemList.slice(((itemCtrl.currentPage - 1) * itemCtrl.itemsPerPage), ((itemCtrl.currentPage) * itemCtrl.itemsPerPage))">
                            <td>{{itemCtrl.itemsPerPage * (itemCtrl.currentPage - 1) + $index + 1}}</td>
                            <td>{{item.itemName}}</td>
                            <td>{{item.purchasePrice|number:2}}</td>
                            <td>{{item.salePrice|number:2}}</td>
                            <td>{{item.createdDate|date}}</td>
                            <td align="center">
                                <a class="action-icons" ng-click="itemCtrl.editAction(item)" uib-tooltip="Edit"><i class="fa fa-edit"></i></a>
                                <a class="action-icons" ng-click="itemCtrl.deleteAction(item)" uib-tooltip="Delete"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div>
    <center>
        <uib-pagination ng-show="itemCtrl.itemList.length > 0" boundary-links="true" boundary-link-numbers="true" items-per-page ="itemCtrl.itemsPerPage"
                        total-items="itemCtrl.itemList.length" 
                        ng-model="itemCtrl.currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" 
                        first-text="&laquo;" last-text="&raquo;" max-size="itemCtrl.maxSize" ></uib-pagination>
    </center>
</div>