<!DOCTYPE html>
<html>
    <head>
        <title>Inventory</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

        <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="assets/css/sb-admin.css" />
        <link rel="stylesheet" type="text/css" href="assets/css/AdminLTE.css" />
        <link rel="stylesheet" type="text/css" href="assets/css/custom.css" />
        <link rel="stylesheet" type="text/css" href="assets/css/layout.css" />

        <style type="text/css">
            [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
                display: none !important;
            }
        </style>

        <!-- SCRIPT STARTS HERE -->

        <script type="text/javascript" src="assets/js/jquery.js"></script>
        <script type="text/javascript" src="assets/libs/angular.js"></script>
        <script type="text/javascript" src="assets/libs/ui-bootstrap-tpls.min.js"></script>
        <script type="text/javascript" src="assets/libs/angular-route.js"></script>
        <script type="text/javascript" src="assets/libs/angular-animate.js"></script>
        <script type="text/javascript" src="assets/libs/ngStorage.js"></script>
        <script type="text/javascript" src="assets/js/bootstrap.min.js"></script>

        <!-- SCRIPT ENDS HERE -->

        <!-- APP SCRIPTS STARTS HERE -->

        <script type="text/javascript" src="app/app.module.js"></script>
        <script type="text/javascript" src="app/app.routes.js"></script>

        <!-- COMMON SERVICE -->
        <script type="text/javascript" src="app/shared/APIResourceConstantService.js"></script>
        <script type="text/javascript" src="app/shared/HttpService.js"></script>
        <script type="text/javascript" src="app/shared/ObjEqualityCheckService.js"></script>
        <script type="text/javascript" src="app/shared/TransactionTypeService.js"></script>
        <script type="text/javascript" src="app/shared/JQueryUIDatepicker.js"></script>
        <script type="text/javascript" src="app/shared/ItemStockService.js"></script>

        <script type="text/javascript" src="app/components/login/LoginService.js"></script>
        <script type="text/javascript" src="app/components/login/LoginController.js"></script>

        <script type="text/javascript" src="app/components/home/HomeController.js"></script>

        <script type="text/javascript" src="app/components/item/service/ItemService.js"></script>
        <script type="text/javascript" src="app/components/item/controller/ItemController.js"></script>
        <script type="text/javascript" src="app/components/item/modal/ItemUpdateModalCtrl.js"></script>

        <script type="text/javascript" src="app/components/party/service/PartyService.js"></script>
        <script type="text/javascript" src="app/components/party/controller/PartyController.js"></script>
        <script type="text/javascript" src="app/components/party/modal/PartyUpdateModalCtrl.js"></script>

        <script type="text/javascript" src="app/components/stock/service/StockService.js"></script>
        <script type="text/javascript" src="app/components/stock/controller/StockController.js"></script>

        <script type="text/javascript" src="app/components/transaction/service/TransactionService.js"></script>
        <script type="text/javascript" src="app/components/transaction/controller/TransactionAddController.js"></script>

        <!-- SCRIPT ENDS HERE -->
    </head>
    <body ng-app="Inventory" class="ng-cloak">
        <div id="wrapper">

            <!-- Navigation -->
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" ng-click="isCollapsed = !isCollapsed" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#/home">Inventory System</a>
                </div>
                <!-- Top Menu Items -->
                <ul class="nav navbar-right top-nav">
                    <li class="dropdown" uib-dropdown>
                        <!--                        <a href="#" class="dropdown-toggle" uib-dropdown-toggle data-toggle="dropdown"><i class="fa fa-envelope"></i> <b class="caret"></b></a>
                                                <ul class="dropdown-menu message-dropdown" uib-dropdown-menu>
                                                    <li class="message-preview">
                                                        <a href="#">
                                                            <div class="media">
                                                                <span class="pull-left">
                                                                    <img class="media-object" src="http://placehold.it/50x50" alt="">
                                                                </span>
                                                                <div class="media-body">
                                                                    <h5 class="media-heading"><strong>John Smith</strong>
                                                                    </h5>
                                                                    <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                                                    <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li class="message-preview">
                                                        <a href="#">
                                                            <div class="media">
                                                                <span class="pull-left">
                                                                    <img class="media-object" src="http://placehold.it/50x50" alt="">
                                                                </span>
                                                                <div class="media-body">
                                                                    <h5 class="media-heading"><strong>John Smith</strong>
                                                                    </h5>
                                                                    <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                                                    <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li class="message-preview">
                                                        <a href="#">
                                                            <div class="media">
                                                                <span class="pull-left">
                                                                    <img class="media-object" src="http://placehold.it/50x50" alt="">
                                                                </span>
                                                                <div class="media-body">
                                                                    <h5 class="media-heading"><strong>John Smith</strong>
                                                                    </h5>
                                                                    <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                                                    <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li class="message-footer">
                                                        <a href="#">Read All New Messages</a>
                                                    </li>
                                                </ul>
                                            </li>-->
                        <!--                    <li class="dropdown" uib-dropdown>
                                                <a href="#" class="dropdown-toggle" uib-dropdown-toggle data-toggle="dropdown"><i class="fa fa-bell"></i> <b class="caret"></b></a>
                                                <ul class="dropdown-menu alert-dropdown" uib-dropdown-menu>
                                                    <li>
                                                        <a href="#">Alert Name <span class="label label-default">Alert Badge</span></a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Alert Name <span class="label label-primary">Alert Badge</span></a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Alert Name <span class="label label-success">Alert Badge</span></a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Alert Name <span class="label label-info">Alert Badge</span></a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Alert Name <span class="label label-warning">Alert Badge</span></a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Alert Name <span class="label label-danger">Alert Badge</span></a>
                                                    </li>
                                                    <li class="divider"></li>
                                                    <li>
                                                        <a href="#">View All</a>
                                                    </li>
                                                </ul>
                                            </li>-->
                    <li class="dropdown" uib-dropdown>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" uib-dropdown-toggle><i class="fa fa-user"></i> Nikesh Maharjan <b class="caret"></b></a>
                        <ul class="dropdown-menu" uib-dropdown-menu>
                            <li>
                                <a href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-fw fa-gear"></i> Settings</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#/login"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
                <div class="collapse navbar-collapse navbar-ex1-collapse" uib-collapse="!isCollapsed">
                    <ul class="nav navbar-nav side-nav">
                        <li>
                            <a href="javascript:;" data-toggle="collapse" ng-click="itemDropDownCollapse = !itemDropDownCollapse" 
                               data-target="#itemDropDown"><i class="fa fa-fw fa-archive"></i> Item <i class="fa fa-fw fa-caret-down"></i></a>
                            <ul id="itemDropDown" class="collapse" uib-collapse="!itemDropDownCollapse">
                                <li>
                                    <a href="#/items/new" ng-click="isCollapsed = !isCollapsed"><i class="fa fa-fw fa-plus"></i> Add Items</a>
                                </li>
                                <li>
                                    <a href="#/items" ng-click="isCollapsed = !isCollapsed"><i class="fa fa-fw fa-list-ol"></i> List Items</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:;" data-toggle="collapse" ng-click="partyDropDownCollapse = !partyDropDownCollapse" 
                               data-target="#partyDropDown"><i class="fa fa-fw fa-group"></i> Party <i class="fa fa-fw fa-caret-down"></i></a>
                            <ul id="partyDropDown" class="collapse" uib-collapse="!partyDropDownCollapse">
                                <li>
                                    <a href="#/parties/new" ng-click="isCollapsed = !isCollapsed"><i class="fa fa-fw fa-plus"></i> Add Party</a>
                                </li>
                                <li>
                                    <a href="#/parties" ng-click="isCollapsed = !isCollapsed"><i class="fa fa-fw fa-list-ol"></i> List Parties</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:;" data-toggle="collapse" ng-click="txnDropDownCollapse = !txnDropDownCollapse" 
                               data-target="#txnDropDown"><i class="fa fa-fw fa-money"></i> Transaction <i class="fa fa-fw fa-caret-down"></i></a>
                            <ul id="txnDropDown" class="collapse" uib-collapse="!txnDropDownCollapse">
                                <li>
                                    <a href="#/transactions/new" ng-click="isCollapsed = !isCollapsed"><i class="fa fa-fw fa-plus"></i> Add Transaction</a>
                                </li>
                                <li>
                                    <a href="#/transactions" ng-click="isCollapsed = !isCollapsed"><i class="fa fa-fw fa-list-ol"></i> List Transaction</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#/stocks"><i class="fa fa-fw fa-unsorted"></i> Stocks</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </nav>

            <div id="page-wrapper">

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <!--        <h1 class="page-header">
                                        Add Item
                                    </h1>-->
                            <ol class="breadcrumb">
                                <li>
                                    <i class="fa fa-dashboard"></i> <a href="#/home">Dashboard</a>
                                </li>
                                <li>
                                    <i class="fa fa-circle"></i> Item
                                </li>
                                <li class="active">
                                    <i class="fa fa-plus-circle"></i> Add Item
                                </li>
                            </ol>
                        </div>
                    </div>
                    <div ng-view="" style="min-height: 700px"></div>
                </div>
            </div>

        </div>
        <!-- /#wrapper -->

    </body>
</html>
