/* 
    Created on : Aug 2, 2016, 9:23:35 PM
    Author     : Nikesh Maharjan
*/

* {
    font-family: sans-serif;
}

.input-invalid {
    color: #a71627;
    font-style: italic;
}

.action-icons {
    cursor: pointer;
    padding: 5px;
    color:black;
}

.page-header > small {
    display: inline;
}